<h1>Below is the Result of Your update Access Token:</h1>
<p>
Access Token: <%= params[:updated_access_token] %><br>
Access Token Expires In: <%= params[:updated_expires_in] %><br>
Refresh Token: <%= params[:updated_refresh_token] %><br>
Refresh Token Expires In: <%= params[:updated_x_refresh_token_expires_in] %><br>
</p>

<%= link_to("Home", params[:host_uri]) %>
